ANDROID_UDID=8797df69
ANDROID_DEVICE_NAME=Redmi 23129RAA4G
APK_PATH=E:/app-release.apk
APP_PACKAGE=com.travelhouse.uk.app
APP_ACTIVITY=com.example.travel_house.MainActivity
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
TEST_EMAIL=replace-with-test-email
TEST_PASSWORD=replace-with-test-password
TRAVELLER_NAME=Muqadas Shoaib
FREQUENT_FLYER_NAME=Muqadas
MOBILE_NUMBER=3001234567
